<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole</title>
    <script
      src="https://kit.fontawesome.com/a3ad730a3f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="body_index">
    <header>
      <nav class="navegador" >
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/music">MUSIC</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
      <ul id="sociales">
        <li>
          <a href="https://twitter.com/" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://www.spotify.com/" target="_blank"
            ><i class="fa-brands fa-spotify"></i
          ></a>
        </li>
        <li>
          <a href="https://www.apple.com/" target="_blank"
            ><i class="fa-brands fa-apple"></i
          ></a>
        </li>
        <li>
          <a href="https://www.amazon.com/" target="_blank"
            ><i class="fa-brands fa-amazon"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
    </header>
    <section>
      <img src="img/emilia-home.jpg" alt="imagen de portada" class="imagen_emilia_home"/>
      <h3>
        EMILIA <br />
        COLE //
      </h3>
      <h1 class="mi-clase">TWIST IN MY REALITY</h1>
    </section>
  </body>
</html>
