<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole - Music</title>
    <script
      src="https://kit.fontawesome.com/a3ad730a3f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="body_music">
    <header id="top">
      <div class="contenedor_imagen">
        <img src="/img/emilia-music-top.jpg" alt="imagen music section"/>
      </div>
      <div class="contenedor_music">
      <nav class="navegador_music">
        <ul class="franja posicion">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/music">MUSIC</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
     </div>
     <div class="contenedor_music">
      <ul id="sociales_music">
        <li>
          <a href="https://twitter.com/" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://www.spotify.com/" target="_blank"
            ><i class="fa-brands fa-spotify"></i
          ></a>
        </li>
        <li>
          <a href="https://www.apple.com/" target="_blank"
            ><i class="fa-brands fa-apple"></i
          ></a>
        </li>
        <li>
          <a href="https://www.amazon.com/" target="_blank"
            ><i class="fa-brands fa-amazon"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
     </div>
    </header>
    <section>
      <h1 class="music">MUSIC //</h1>
      <h4>Direct links</h4>
      <ul class="lista_videos">
        <li><a href="#video1">Album</a></li>
        <li><a href="">Video: Organic Love</a></li>
        <li><a href="#video2">Video: Street Light</a></li>
      </ul>
      <article>
        <h2>
          ALBUM <br />
          TWIST IN MY REALITY
        </h2>
        <img src="img/emilia-play-list.png" alt="Imagen del album" class="imagen_emilia"/>
        <ol class="canciones">
          <li>01 Organic Love | 02:40</li><BR>
          <li>02 Twist in My Reality | 02:10</li><BR>
          <li>03 Street Light | 03:28</li><BR>
          <li>04 Love Dont Live Here Anymore (cover) | 03:49</li>
        </ol>
        <A href="#top" class="button">Go top</A>
      </article>
      <article id="video1"><h2 class="titulo_video">VIDEO <br>ORGANIC LOVE</h2></article>
      <iframe
        src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
      <ol class="canciones">
        <li>Directed by VINCE MALC & EMliIA COLE </li><BR>
        <li>Edited and Flimed by NICOLAS TROY</li><BR>
        <li>Produced by NIKI HEART</li><BR>
        <li>Wix Flims LTD</li>
      </ol>
      <A href="#top" class="button">Go top</A>
      <article id="video2"></article>

      
      <h2 class="titulo_video"><strong>VIDEO <BR>STREET LIGHT</BR></strong></h2>
      <article id="video2"></article>
      <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      <ol class="canciones">
        <li>Directed by VINCE MALC & EMliIA COLE </li><BR>
        <li>Edited and Flimed by NICOLAS TROY</li><BR>
        <li>Produced by NIKI HEART</li><BR>
        <li>Wix Flims LTD</li>
      </ol>
      <A href="#top" class="button">Go top</A>
    </section>
  </body>
</html>
